
<div class="row">
  <div class="large-12 column">
    <% @posts.each do |post| %>
    <table>
      <thead>
        <tr>
          <th>Post Title</th>
          <th>Post</th>
        </tr>
      </thead>
      <tbody>
        <td><%= link_to image_tag(post.pic.url, :size => '32x32', :class => 'img-thumbnail') %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
 </div>
</div>
