<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false" data-options="dropdown_autoclose: false">

  <ul class="title-area">
    <li class="toggle-topbar menu-icon"><a href="/"><span>Menu</span></a></li>
  </ul>
<section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
       <a href="#"></i>Drink up!</a>
        <ul class="dropdown">
          <li><a><%= link_to "Posts", posts_path %></a></li>
          <li><a href="/comments">Comments</a></li>
        </ul>
      </li>
      </ul>
      <!-- Right Nav Section -->
    <ul class="right">
      <li><a>Sign in:</a></li>
    <div class="large-5 columns">
      <div class="row collapse postfix-round">
        <div class="small-10 columns">
          <input type="text" placeholder="Email">
        </div>
      </div>
   </div>
   <div class="large-5 columns">
      <div class="row collapse postfix-round">
        <div class="small-8 columns">
          <input type="text" placeholder="Password">
        </div>
        <div class="small-4 columns">
          <a href="#" class="button postfix">GO</a>
        </div>
      </div>
   </div>
    </ul>
  </ul>
  </section>
  </nav>
<header>Cup o Duncan</header>

<div class="row">
    <div class="large-12 column">
<% @posts.each do |post| %>
<table>
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Post</th>
    </tr>
  </thead>
  <tbody>
      <td><%= link_to post.title, blog_path(post) %></td>
      <td><%= post.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<footer>
    <div class="container">
       <p>&copy; a D2 joint 2015</p>
    </div>
</footer>

