<h1>Welcome to my Blog.</h1>

<% @posts.each do |post| %>
<table>
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Post</th>
    </tr>
  </thead>
  <tbody>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Posts', posts_path %>