// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table { font-family: "Andale mono", Sans-Serif;
}

ul { font-family: "Skater park", Sans-Serif;
  font-size: 30px;
}

div { font-family: "Courier new", Sans-Serif;
}

h2, h4 { font-family: "Andale mono", Sans-Serif;
}